# Copyright 2025 Morse Micro
# SPDX-License-Identifier: Apache-2.0

config BOARD_MM6108_EKH05
	select SOC_STM32U585XX if BOARD_REVISION_V3

if BOARD_MM6108_EKH05
	config BOARD_REVISION_V3
		bool
endif
