# Morse Micro MMECS03 Evaluation Board

# Copyright 2026 Morse Micro
# SPDX-License-Identifier: Apache-2.0

if BOARD_MMECS03

config SPI
	default y

config SPI_STM32_INTERRUPT
	default y
	depends on SPI

config SPI_STM32_DMA
	# Enable DMA for SPI
	default y
	depends on SPI

DT_CHOSEN_ZEPHYR_CONSOLE := zephyr,console

config UART_CONSOLE
	default y if $(dt_chosen_enabled,$(DT_CHOSEN_ZEPHYR_CONSOLE)) && CONSOLE

endif # BOARD_MMECS03
