# Copyright 2025 Morse Micro
# SPDX-License-Identifier: Apache-2.0
menuconfig SPI_STM32_OPTIM
	bool "Optimised STM32 SPI driver"
	default y
	help
	  Enables the optimised STM32 SPI driver.

if SPI_STM32_OPTIM

config SPI_STM32_OPTIM_DMA_THRESHOLD
	int "Threshold to use DMA for SPI transactions"
	default 16
	help
    Threshold to use DMA for SPI transactions

endif # SPI_STM32_OPTIM
