adapter driver ftdi

ftdi vid_pid 0x0403 0x6011

# optional: pass -c "set SERIAL_NO <serial_no>" in openocd command to specify device
if { [info exists SERIAL_NO] } {
    puts [format "MM_LOG : Using specified adapter serial no. %d." $SERIAL_NO]
    adapter serial $SERIAL_NO
}

# optional: pass -c "set CHANNEL_NO <channel_no>" in openocd command to specify the FTDI port to use
# for the SWD connection. If no channel number is set channel 0 will be used
if { [info exists CHANNEL_NO] } {
    puts [format "MM_LOG : Using specified ftdi channel %d." $CHANNEL_NO]
    ftdi channel $CHANNEL_NO
}

ftdi layout_init 0x0008 0x000b
ftdi layout_signal nSRST -data 0x0008 -oe 0x0008
ftdi layout_signal SWD_EN -data 0
ftdi layout_signal SWDIO_OE -data 0

transport select swd

## Chip config
set CHIPNAME stm32u585
source [find target/stm32u5x.cfg]

# srst is available for reset, commands can be issued whilst chip is held in reset
reset_config srst_only srst_nogate

if { [info exists MM_PROGRAM] } {
    set CONNECT_ASSERT_SRST 1
    set DISABLE_DEEP_SLEEP_DEBUG 1
}

# optional: pass -c "set CONNECT_ASSERT_SRST 1" in openocd command to hold the device in reset
# when connecting to it. Useful if you can't connect due to incorrect option-byte config or
# illegal program execution. Only supported on some devices.
#
# Note: setting this will effectively reset your whole application upon connection to target.
if { [info exists CONNECT_ASSERT_SRST]} {
    puts "MM_LOG : Will assert srst upon connection."
    reset_config connect_assert_srst
}

$_TARGETNAME configure -event reset-init {
    # CPU comes out of reset with MSI_ON | MSI_RDY | MSI Range 4 MHz.
    # Configure system to use MSI 24 MHz clock, compliant with VOS default Range1.
    # 2 WS compliant with VOS=Range1 and 24 MHz.
    mmw 0x40022000 0x00000102 0  ;# FLASH_ACR |= PRFTBE | 2(Latency)
    mmw 0x46020C00 0x00000091 0  ;# RCC_CR = MSI_ON | MSI Range 24 MHz
    # Boost adapter frequency
    adapter speed 1800
}

if { [info exists DISABLE_DEEP_SLEEP_DEBUG] } {
# Override examine-end event to disable debugging in deep sleep (reduces power consumption)
    $_TARGETNAME configure -event examine-end {
        # Disable debugging in low power modes
        # DBGMCU_CR |= ~(DBG_STANDBY | DBG_STOP)
        mmw 0xE0044004 0 6
    }
}

# To enable remote debugging
bindto 0.0.0.0

# Override speed set to avoid warn message
$_TARGETNAME configure -event reset-start {
    adapter speed 200
}

$_TARGETNAME configure -event reset-end {
    adapter speed 1800
}
