# Copyright 2024-2026 Morse Micro
# SPDX-License-Identifier: Apache-2.0

menuconfig WIFI_MORSEMICRO
	bool "Morse Micro HaLow Wi-Fi support"
	default y
	depends on DT_HAS_MORSEMICRO_MM6108_ENABLED \
		|| DT_HAS_MORSEMICRO_MM8108_ENABLED
	select DYNAMIC_THREAD
	select REBOOT
	select THREAD_CUSTOM_DATA
	select WIFI_USE_NATIVE_NETWORKING
	select NET_L2_WIFI_MGMT
	select NET_L2_ETHERNET
	select DYNAMIC_THREAD_ALLOC
	select GPIO_GET_CONFIG
	select HWINFO
	select CRC
	select FPU if CPU_CORTEX_M33 || CPU_CORTEX_M7
	select THREAD_ABORT_HOOK
	select ENTROPY_GENERATOR

if WIFI_MORSEMICRO

menu "Components"
	rsource "../../../components/morsemicro/regdb/Kconfig"
	rsource "../../../components/morsemicro/mmpktmem/Kconfig"
endmenu

choice WIFI_MORSEMICRO
	bool "Select BUS interface"
	default WIFI_MORSEMICRO_BUS_SPI

config WIFI_MORSEMICRO_BUS_SPI
	bool "SPI Bus interface"
	select SPI
endchoice

config WIFI_MORSEMICRO_TEST
	bool "Morse Micro device test driver"
	help
	  Disable registration of network interface to allow testing.
	  To allow testing of the Morse Micro driver HAL layears, and verifying
	  the hardware configuration, this configuration will disable the
	  registration of the Morse Micro device as a Zephyr network interface.

config HEAP_MEM_POOL_ADD_SIZE_MORSE
	int
	default 65536

config NET_MGMT_EVENT_STACK_SIZE
	int
	default 2048

config NET_SOCKETS
	bool
	default y

config MORSEMICRO_COMPRESS_FIRMWARE
	bool "Compress the Morse Micro chip firmware"
	default y
	help
	  Compresses the firmware.
	  This results in a substantial reduction in flash space usage.
	  However this comes at the cost of additional time the Morse Micro
	  chip takes to boot since the firmware then needs to be decompressed again.

endif
