# Copyright 2024-2026 Morse Micro
# SPDX-License-Identifier: Apache-2.0

menuconfig WIFI_MORSEMICRO
	bool "Morse Micro HaLow Wi-Fi support"
	default y
	depends on DT_HAS_MORSEMICRO_MM6108_ENABLED \
		|| DT_HAS_MORSEMICRO_MM8108_ENABLED
	select DYNAMIC_THREAD
	select REBOOT
	select THREAD_CUSTOM_DATA
	select WIFI_USE_NATIVE_NETWORKING
	select NET_L2_WIFI_MGMT
	select NET_L2_ETHERNET
	select WIFI_NM
	select DYNAMIC_THREAD_ALLOC
	select GPIO_GET_CONFIG
	select HWINFO
	select CRC
	select FPU if CPU_CORTEX_M33 || CPU_CORTEX_M7
	select THREAD_ABORT_HOOK
	select ENTROPY_GENERATOR

if WIFI_MORSEMICRO

menu "Components"
	rsource "../../../components/morsemicro/regdb/Kconfig"
	rsource "../../../components/morsemicro/mmpktmem/Kconfig"
endmenu

choice WIFI_MORSEMICRO
	bool "Select BUS interface"
	default WIFI_MORSEMICRO_BUS_SPI

config WIFI_MORSEMICRO_BUS_SPI
	bool "SPI Bus interface"
	select SPI
endchoice

config WIFI_MORSEMICRO_POWERSAVE
	bool
	default y
	depends on (($(dt_compat_any_has_prop,$(DT_COMPAT_MORSEMICRO_MM8108),busy-gpios) \
	&& $(dt_compat_any_has_prop,$(DT_COMPAT_MORSEMICRO_MM8108),wakeup-gpios)) \
	|| ($(dt_compat_any_has_prop,$(DT_COMPAT_MORSEMICRO_MM6108),busy-gpios) \
	&& $(dt_compat_any_has_prop,$(DT_COMPAT_MORSEMICRO_MM6108),wakeup-gpios)))
	help
	  Enables power saving functionality on the Morse Micro chip.
	  Requires both the wakeup-gpios and busy-gpios are routed and defined.

config WIFI_MORSEMICRO_TEST
	bool "Morse Micro device test driver"
	help
	  Disable registration of network interface to allow testing.
	  To allow testing of the Morse Micro driver HAL layears, and verifying
	  the hardware configuration, this configuration will disable the
	  registration of the Morse Micro device as a Zephyr network interface.

config HEAP_MEM_POOL_ADD_SIZE_MORSEMICRO
	int
	default 65536

config NET_MGMT_EVENT_STACK_SIZE
	int
	default 2048

config NET_SOCKETS
	bool
	default y

config MORSEMICRO_COMPRESS_FIRMWARE
	bool "Compress the Morse Micro chip firmware"
	default y
	help
	  Compresses the firmware.
	  This results in a substantial reduction in flash space usage.
	  However this comes at the cost of additional time the Morse Micro
	  chip takes to boot since the firmware then needs to be decompressed again.

menuconfig ALPHA_FEATURES
	bool "Morse Micro Wi-Fi HaLow Alpha Features"
	default y

if ALPHA_FEATURES

config WIFI_MORSEMICRO_AP_MODE
	bool "Enables AP mode for the selected device"
	default n
	depends on ALPHA_FEATURES
	select POSIX_API
	help
	  Allows the device to use AP functionality.
	  Disabled by default as this takes up a substantial amount of flash.

choice WIFI_USAGE_MODE
	default WIFI_USAGE_MODE_STA_AP if WIFI_MORSEMICRO_AP_MODE
endchoice

config WIFI_MORSEMICRO_UNPATCHED_WORKAROUNDS
	bool "Add temporary workarounds for non patched zephyr instances"
	default n
	select WIFI_MORSEMICRO_SHELL if SHELL
	help
	  Add extra wifi mgmt calls for dealing with S1G specific behavior to avoid having to apply
	  patches. These patches are intended for upstreaming, and when they are pulled in to a
	  zephyr release, they will be deprecated and subsequently deprecated and then removed in
	  the follow up mm-iot-zephyr releases.

# Currently only needed for unpatched workarounds
config WIFI_MORSEMICRO_SHELL
	bool "Morse Micro driver shell commands"
	depends on SHELL
	depends on WIFI_MORSEMICRO_UNPATCHED_WORKAROUNDS
	default y if WIFI_MORSEMICRO_AP_MODE
	help
	  Adds a 'morsemicro' shell command for driver-specific functionality not
	  covered by the generic 'wifi' shell.

endif # ALPHA_FEATURES

endif

menuconfig ALPHA_FEATURES
	bool "Morse Micro Wi-Fi HaLow Alpha Features"
	default y

config WIFI_MORSEMICRO_AP_MODE
	bool "Enables AP mode for the selected device"
	default n
	depends on ALPHA_FEATURES
	select POSIX_API
	help
	  Allows the device to use AP functionality.
	  Disabled by default as this takes up a substantial amount of flash
